
.AboutTitle{
  font-family: 'NunitoSans';
  font-size: 3rem;
  font-weight: bolder;
  text-align: left; 
  color: #3e363f;
  margin: 5.1rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
}

#AboutContent{
  font-family: 'NunitoSans';
  font-size: 1.1rem;
  text-align: left; 
  margin: 5rem;
  margin-top: 0;
  margin-bottom: 0;
  
}


.AboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutContentContainer {
  flex: 1;
  
}

.ImageContainer {
  flex: 1;
}
